* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

a {
    color: black;
}

p {
    margin: 0;
    padding: 0;
}

#sidebar {
    position: absolute;
    left: 0px;
    width: 200px;
    padding: 6px;
}

#timeline {
    margin-left: 200px;
}

.timeline {
    position: absolute;
    top: 0px;
}

.tweet {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 6px;
}
.tweet .profile {
    position: absolute;
    left: 0px;
    width: 60px;
    padding: 6px;
}
.tweet .body {
    margin-left: 60px;
    padding: 6px;
}
.tweet .header {
    padding-bottom: 6px;
}

.tweet .profile-image {
    border-radius: 5px;
}

.tweet .name {
    font-weight: bold;
}
.tweet .username, .tweet .timestamp {
    color: gray;
}

.tweet .media-set {
    margin: 12px 0;
    max-width: 500px;
}

.tweet .media {
    height: auto;
    border-radius: 5px;
    padding: 0 1px;
}

.tweet .media-1 {
    max-width: 100%;
}

.tweet .media-2 {
    max-width: 50%;
}

.tweet .media-3 {
    max-width: 33%;
}

.tweet .media-4 {
    max-width: 25%;
}
