* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

a {
    color: black;
}

p {
    margin: 0;
    padding: 0;
}

.tweet {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 6px;
}
.tweet .profile {
    position: absolute;
    left: 0px;
    width: 60px;
    padding: 6px;
}
.tweet .body {
    margin-left: 60px;
    padding: 6px;
}
.tweet .header {
    padding-bottom: 6px;
}

.tweet .profile-image {
    border-radius: 5px;
}

.tweet .name {
    font-weight: bold;
}
.tweet .username {
    color: gray;
}

.tweet img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}